/venv
*/venv
venv
__pycache__
*__pycache__
*/__pycache__
/__pycache__
.ipynb_checkpoints
*.ipynb_checkpoints
*/.ipynb_checkpoints
/.ipynb_checkpoints
.idea
/.idea
*.pyc
.keras
/.keras
*.keras
.model
/.model
*.model
.H5
/.H5
*.H5